/* FONTS */

@font-face {
    font-family: Al-Jazeera;
    src: url(../fonts/font2/aljazeera.ttf);
}

@font-face {
    font-family: Al-Jazeera-Arabic-Bold;
    src: url(../fonts/font1/Al-Jazeera-Arabic-Bold.ttf);
}

@font-face {
    font-family: Al-Jazeera-Arabic-Light;
    src: url(../fonts/font1/Al-Jazeera-Arabic-Light.ttf);
}

@font-face {
    font-family: Al-Jazeera-Arabic-Regular;
    src: url(../fonts/font1/Al-Jazeera-Arabic-Regular.ttf);
}

.Al-Jazeera {
    font-family: Al-Jazeera !important;
}

.Al-Jazeera-Bold {
    font-family: Al-Jazeera-Arabic-Bold !important;
}

.Al-Jazeera-Light {
    font-family: Al-Jazeera-Arabic-Light !important;
}

.Al-Jazeera-Regular {
    font-family: Al-Jazeera-Arabic-Regular !important;
}

.md-toolbar-tools {
    color: #000 !important;
}

.md-toolbar-tools span {
    color: #000 !important;
    font-family: Al-Jazeera-Arabic-Regular;
}

md-input-container .md-auto-hide .md-input-message-animation:not(.ng-animate) {
    text-align: right !important;
    font-family: Al-Jazeera-Arabic-Bold;
}

.course-card {
    text-align: right;
    height: 300px;
    width: 200px;
    background: #fff !important;
}

.year-of-study md-option {
    width: 100% !important;
    display: block !important;
    text-align: right !important;
    font-family: Al-Jazeera-Arabic-Bold;
}

.ui-view-content {
    height: calc(100vh - 115px) !important;
    overflow: auto !important;
}

/* LOGIN CSS*/

.account-bg {
    background: url("https://wallpaperscraft.com/image/macbook_apple_laptop_louis_vuitton_99088_3840x2400.jpg");
    /*background: #eceae3;*/
    background-size: 100% 100%;
    height: calc(100vh);
    width: 100%;
}

.login-main {
    margin-top: 10vh;
    /*    !*background: url("../img/login-bg.jpg");*!
        !*background: #eceae3;*!
        background-size: 100% 100%;
        height: calc(100vh - 64px);
        width: 100%;*/
}

.login-form {
    background: rgba(255, 255, 255, 0.4);
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    border-radius: 10px;
}

.register-main {
    /*!*background: url("../img/login-bg.jpg");*!
    background: #eceae3;
    background-size: 100% 100%;
    height: calc(100vh - 64px);
    width: 100%;*/
}

.register-form {
    background: rgba(255, 255, 255, 0.4);
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    border-radius: 10px;
}

.submit-btn {
    width: 80%;
    font-family: Al-Jazeera-Arabic-Bold;
}

.social-login-btn {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    max-height: 50px !important;
}

.social-login-png {
    border-radius: 15px !important;
    /*width: 40%;*/
    height: 25px;
}

.login-main h3 {
    /*color: #000 ;*/
    text-align: center;
    /*font-style: italic;*/
}

.register-main h3 {
    /*color: #fff;*/
    text-align: center;
    /*font-style: italic;*/
}

.right-label {
    font-family: Al-Jazeera !important;
    color: #000;
    left: auto !important;
    right: 0 !important;
}

/* Dashboard CSS */
.custom-toolbar {
    background: rgba(255, 255, 255, 0.7) !important;
    /*border-bottom: 0.1pt solid #fff;*/
}

.bg-opacity {
    background: rgba(255, 255, 255, 0.7) !important;
    color: #000 !important;
}

.profile-img {
    border-radius: 10px;
    height: 15vh;
    width: 15vh;
    outline: none;
    cursor: pointer;
}

.no-outline {
    outline: none;
}

.no-margin {
    margin: 0 0 0 0 !important;
}

.menu-column md-list {
    margin: 8px 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.menu-column md-list-item {
    border-right: 5px solid transparent;
    margin: 0 0 0 0 !important;
}

.menu-column md-divider {
    margin: 0 0 0 0 !important;
}

.menu-active-item {
    border-right: 5px solid #fff !important;
    background: rgba(0, 0, 0, 0.3) !important;
    color: #fff;
}

.dashboard-main-div {
    /*background: url("../img/theme-01.jpg");*/
    background-size: 100% 100%;
}

.main-md-content, .dashboard-md-content {
    /*height: calc(100vh - 64px);*/
    background: transparent !important;
}

.menu-column p {
    /*color: #fff;*/
    padding-right: 20%;
    text-align: right;
    font-family: Al-Jazeera-Arabic-Bold;
}

.content-column {
    /*height: calc(100vh - 100px);*/
}

.content-column .content-column-box {
    height: 100%;
    background: rgba(255, 255, 255, 0.7) !important;
}

.dashboard-card span {
    text-align: center;
}

md-card md-card-title {
    text-align: center;
    width: 220px;
    /*padding: 24px 100px 16px !important;*/
}

.dashboard-chart {
    width: 50%;
    /*height: 50vh;*/
    background: #fff;
}

.bg-tsp {
    background: transparent !important;
}

.teacher-add-form md-input-container {
    width: 100%;
}

.theme-thumbnail {
    height: 140px;
    width: 200px;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.theme-thumbnail ng-md-icon {
    display: none;
}

.thumbnail-box {
    /*height: 500px;*/
}

.theme-thumbnail-select {
    border: 5px solid #fff;
}

.theme-thumbnail-select ng-md-icon {
    display: inline-block;
    margin-top: 15px;
    fill: #fff;
}

/* Scroll bar Css*/

/* For the "inset" look only */
html {
    overflow: auto;
}

.cursor-hand {
    cursor: hand;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2196F3;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #2196F3;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    text-align: right;
    margin-top: 70px !important;
    font-family: Al-Jazeera-Arabic-Bold;
}