.login-main {
    background: url("../img/login-bg.jpg");
    background-size: 100% 100%;
    height: calc(100vh - 64px);
    width: 100%;
}

.login-form {
    background: rgba(255, 255, 255, 0.4);
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    border-radius: 10px;
}

.register-main {
    background: url("../img/login-bg.jpg");
    background-size: 100% 100%;
    height: calc(100vh - 64px);
    width: 100%;
}

.register-form {
    background: rgba(255, 255, 255, 0.4);
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    border-radius: 10px;
}

.submit-btn {
    width: 80%;
}

.social-login-btn {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    max-height: 50px !important;
}

.social-login-png {
    border-radius: 5px !important;
    /*width: 40%;*/
    height: 25px;
}

.login-main h3 {
    color: #fff;
    text-align: center;
    font-style: italic;
}

.register-main h3 {
    color: #fff;
    text-align: center;
    font-style: italic;
}

.right-label {
    left: auto !important;
    right: 0 !important;
}

/* Dashboard CSS */
.custom-toolbar{
    background: rgba(255,255,255,0.4)!important;
    /*border-bottom: 0.1pt solid #fff;*/
}

.dashboard-main-div {
    background: url("../img/theme-01.jpg");
    background-size: 100% 100%;
}

.main-md-content, .dashboard-md-content {
    height: calc(100vh - 64px);
    background: transparent !important;
}
.menu-column p{
    color: #fff;
    padding-right: 20%;
    text-align: right;
}
.content-column{
    height: calc(100vh - 100px);
}
.content-column :first-child{
    height: 100%;
    background: rgba(255,255,255,0.7)!important;
}
.bg-tsp{
    background: transparent !important;
}
/* Scroll bar Css*/

/* For the "inset" look only */
html {
    overflow: auto;
}

.cursor-hand {
    cursor: hand;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2196F3;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #2196F3;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    margin-top: 70px !important;
}