<div layout="row" layout-align="center center" layout-wrap>
    <div class="" flex-gt-sm="100" flex-gt-md="50" flex-gt-sm-initial="100" flex-gt-xs="100" layout-padding>
        <form ng-submit="addTeacher(teacher)" class="teacher-add-form" layout="column" layout-align="center center" layout-wrap>
            <md-input-container class="md-block">
                <label class="right-label">الاسم الاول</label>
                <input type="text" required md-no-asterisk ng-model="teacher.firstName">
            </md-input-container>
            <md-input-container class="md-block">
                <label class="right-label">اسم العائلة</label>
                <input type="text" required md-no-asterisk ng-model="teacher.lastName">
            </md-input-container>

            <md-input-container class="md-block">
                <label class="right-label">البريد الإلكتروني</label>
                <input type="email" required md-no-asterisk ng-model="teacher.email">
            </md-input-container>

            <md-input-container class="md-block">
                <label class="right-label">جنس</label><br><br>
                <md-radio-group class="Al-Jazeera-Bold" ng-model="teacher.sex" layout="row" layout-align="end end" layout-wrap="">
                    <md-radio-button value="1" class="md-primary">ذكر</md-radio-button>
                    <md-radio-button value="2" class="md-primary"> أنثى</md-radio-button>
                    <md-radio-button value="3" class="md-primary">آخر</md-radio-button>
                </md-radio-group>
            </md-input-container>

            <md-input-container class="md-block">
                <label class="right-label">هاتف</label>
                <input type="text" required md-no-asterisk ng-model="teacher.tel">
            </md-input-container>
            <md-input-container class="md-block">
                <label class="right-label">كلمه المرور</label>
                <input equal type="password" required md-no-asterisk ng-model="teacher.password">
            </md-input-container>
            <md-input-container class="md-block">
                <label class="right-label">تأكيد كلمة المرور</label>
                <input compare-to="user.password" type="password" required md-no-asterisk
                       ng-model="user.confirmPassword" name="confirmPassword">
                <div ng-messages="confirmPassword.$error"
                     ng-messages="'Password does not match'"></div>
            </md-input-container>
            <button class="md-button md-raised submit-btn md-primary" value="submit">خلق</button>
        </form>
    </div>
</div>