<div class="dashboard-main-div">
    <md-toolbar class="custom-toolbar">
        <div class="md-toolbar-tools">
            <span>{{currentUser.firstName}} {{currentUser.lastName}}</span>
            <md-list-item>
                <img ng-src="{{currentUser.profileImg || $root.profileImg || defaultProfileImg}}"
                     class="md-avatar no-outline">
            </md-list-item>
            <span flex></span>
            <h1 class="Al-Jazeera-Bold">نظام إدارة التعلم</h1>
            <md-button aria-label="menu" class="md-icon-button" ng-click="toggleSidenav('menu-sidenav')">
                <ng-md-icon icon="menu" class="fill-fff"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="main-md-content">
        <div ui-view name="AdminContent"></div>
        <!--<section flex="15" class="menu-column">
            <div layout-padding>
                <md-list layout-margin class="bg-opacity background">
                    <md-divider></md-divider>
                    <md-list-item ui-sref-active="menu-active-item" ui-sref="admin.dashboard"><p>لوحة القيادة</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref-active="menu-active-item" ui-sref="admin.teachers"
                                  class="background md-raised"><p>معلمون</p></md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref-active="menu-active-item" ui-sref="admin.students"><p>الطلاب</p></md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref-active="menu-active-item" ui-sref="admin.courses"><p>الدورات</p></md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref-active="menu-active-item" ui-sref="admin.add_teacher"><p>إضافة معلم</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="changeTheme()"><p>موضوع</p></md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="newUser = currentUser;" ui-sref-active="menu-active-item"
                                  ui-sref="admin.update_info"><p>تحديث الملف</p></md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="a()"><p>ضبط</p></md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </div>
        </section>-->
    </md-content>
</div>


<md-sidenav class="md-sidenav-right" md-component-id="menu-sidenav">
    <md-toolbar class="">
        <div class="md-toolbar-tools">
            <span flex></span>
            <h1 class="Al-Jazeera-Bold">قائمة طعام</h1>
        </div>
    </md-toolbar>
    <md-content class="">
        <md-list>
            <md-divider></md-divider>
            <md-list-item ng-click="changeState('admin.dashboard');toggleSidenav('menu-sidenav')"
                          ui-sref-active="menu-active-item">
                <p class="menu-option">لوحة القيادة</p>
                <ng-md-icon class="menu-option-icon" aria-label="dashboard" icon="dashboard"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="changeState('admin.teachers');toggleSidenav('menu-sidenav')">
                <p class="menu-option">معلمون</p>
                <ng-md-icon class="menu-option-icon" aria-label="create_new_folder"
                            icon="create_new_folder"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="changeState('admin.joined_courses');toggleSidenav('menu-sidenav')">
                <p class="menu-option">دورات انضم</p>
                <ng-md-icon class="menu-option-icon" aria-label="create_new_folder"
                            icon="create_new_folder"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="changeState('admin.students');toggleSidenav('menu-sidenav')">
                <p class="menu-option">طلابي</p>
                <ng-md-icon class="menu-option-icon" aria-label="people" icon="people"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click=";toggleSidenav('menu-sidenav')">
                <p class="menu-option">الطلاب</p>
                <ng-md-icon class="menu-option-icon" aria-label="people" icon="people"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="changeState('admin.all_courses');toggleSidenav('menu-sidenav')"
                          ui-sref-active="menu-active-item">
                <p class="menu-option">الدورات</p>
                <ng-md-icon class="menu-option-icon" aria-label="school" icon="school"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <!--<md-list-item ng-click="changeTheme()"><p>موضوع</p></md-list-item>-->
            <!--<md-divider></md-divider>-->
            <md-list-item ng-click="changeState('admin.add_teacher');toggleSidenav('menu-sidenav')">
                <p class="menu-option">إضافة معلم</p>
                <ng-md-icon class="menu-option-icon" aria-label="Chat" icon="message"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item
                    ng-click="newUser = currentUser;changeState('admin.update_info');toggleSidenav('menu-sidenav')"
                    ui-sref-active="menu-active-item">
                <p class="menu-option">تحديث الملف</p>
                <ng-md-icon class="menu-option-icon" aria-label="person" icon="person"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="$root.doLogout();toggleSidenav('teacher-menu-sidenav')">
                <p class="menu-option">خروج</p>
                <ng-md-icon class="menu-option-icon" aria-label="logout" icon="logout"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</md-sidenav>