<div class="col-sm-6 col-lg-6 col-md-6 right-col text-right">
    <ul class="list-group class-course-list">
        <li ui-sref="app.topics" class="list-group-item cursor-hand no-border row"
            ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
            <div class="col-md-8 col-lg-9 col-sm-8">
                <h3>Course {{item}}</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid cum, dolorem
                    doloremque eius eligendi incidunt ipsa maxime nisi perferendis perspiciatis
                    possimus quam quas repellat reprehenderit sapiente sunt, ut voluptatibus?</p>

            </div>
            <div class="col-md-4 col-lg-3 col-sm-4 text-left" style="padding: 0 0 0 0">
                <img src="./img/125x125.jpg" class="img-rounded">
            </div>

        </li>
    </ul>
</div>
<div class="col-sm-6 col-md-6 course-page-left-col left-col">
    <h4>Subject</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi commodi,
        deleniti dolor dolore, eos et fugiat ipsum libero magnam maxime necessitatibus,
        nulla quam sapiente tenetur unde ut veniam vitae?
    </p>

    <div style="margin-top: 40%">
        <button type="button" class="btn btn-primary">
            <i class="icon-question icon-large"></i>
            Help Request
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary">
            <i class="icon-comments icon-large"></i>
            Community Questions
        </button>
    </div>
</div>
<style>

</style>