<!--{{selectedLessonOfJoinedCourse|json}}-->
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
    <md-tab ng-disabled="!selectedLessonOfJoinedCourse" label="قوات الدفاع الشعبي">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
        </md-content>
    </md-tab>
    <md-tab ng-disabled="!selectedLessonOfJoinedCourse" label="وثائق">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
        </md-content>
    </md-tab>
    <md-tab ng-disabled="!selectedLessonOfJoinedCourse" label="فيديوهات">
        <md-content class="md-padding tab-md-content">
            <div layout="row" layout-align="center start" layout-wrap>
                <div class="md-whiteframe-1dp" layout-padding layout-margin ng-if="selectedVideo.videoID">
                    <youtube-video video-id="selectedVideo.videoID"></youtube-video>
                </div>
                <div class="md-whiteframe-1dp" layout-margin>
                    <md-list>
                        <md-list-item ng-click="watchVideo(video)"
                                      ng-repeat="video in selectedLessonOfJoinedCourse.videos track by $index"
                                      class="md-3-line video-list">
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{video.title}}</h3>
                                <p class="Al-Jazeera-Regular">{{video.description}}</p>
                            </div>
                            <img ng-src="{{video.thumbnails.default.url}}"/>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="الدروس">
        <md-content class="md-padding tab-md-content">
            <md-list>
                <md-list-item ng-click="goToLessonDetailOfJoinedCourse(lesson)" aria-label=""
                              class="md-3-line md-long-text"
                              ng-repeat="lesson in selectedJoinedCourse.lessons track by $index">
                    <!--<img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}"/>-->
                    <div class="md-list-item-text">
                        <h3>{{lesson.title}}</h3>
                        <p>{{lesson.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-tab>
    <md-tab label="حول مسار">
        <md-content class="md-padding">
            <h1 class="md-display-2 text-right">Tab One</h1>
            <p class="md-subhead text-right">Title {{ selectedCourse.title }} </p>
            <p class="md-subhead text-right">Category {{ selectedCourse.category }} </p>
            <p class="md-subhead text-right">Year Of Study {{ $root.yearOfStudy[selectedCourse.yearOfStudy]}} </p>
            <p class="md-subhead text-right">Students {{ selectedCourse.students.length }} </p>
            <p class="md-subhead text-right">Lessons {{ selectedCourse.lessons.length }} </p>
            <p class="md-caption text-right">
                <b class="md-subhead">Description</b>
            <p>{{ selectedCourse.description }}</p> </p>
        </md-content>
    </md-tab>
</md-tabs>
