<div class="">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 left-col">
        <h4>Subject</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi commodi,
            deleniti dolor dolore, eos et fugiat ipsum libero magnam maxime necessitatibus,
            nulla quam sapiente tenetur unde ut veniam vitae?
        </p>

        <div style="margin-top: 40%">
            <button type="button" class="btn btn-primary">
                <i class="icon-question icon-large"></i>
                Help Request
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary">
                <i class="icon-comments icon-large"></i>
                Community Questions
            </button>
        </div>
    </div>
</div>
<style>
    .left-col {
        text-align: right;

        border-left: 2px solid #ccc;
        height: 94vh;
        padding: 0 100px 0 100px;
    }

    .left-col h4 {
        padding: 20px 20px 15px 0;
        border-bottom: 1px solid;
    }

    .left-col div {
        margin-top: 5%;
        text-align: center;
    }


    .left-col div button {
        /*text-align: left;*/
        width: 60%;
    }
    .left-col div button i{
        float: left;
        margin-top: 5px;
        /*width: 60%;*/
    }
</style>