<div layout="column" layout-padding layout-align="center center">
   <!-- <div layout="row" layout-align="center center" layout-wrap>
        <md-button ui-sref="admin.teachers">
            <md-card class="dashboard-card bg-opacity">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-display-3">544</span>
                        <span class="md-headline">معلمون</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-button>
        <md-button>
            <md-card class="dashboard-card bg-opacity">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-display-3">912</span>
                        <span class="md-headline">الطلاب</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-button>
        <md-button>
            <md-card class="dashboard-card bg-opacity">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-display-3">45</span>
                        <span class="md-headline Al-Jazeera-Regular">الدورات</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-button>
    </div>
    <div class="md-whiteframe-1dp dashboard-chart bg-opacity"></div>-->
</div>
