<div layout="column" layout-padding layout-align="center center">
    <div layout="row" layout-align="center center" layout-wrap>
        <md-card class="dashboard-card bg-opacity">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-3">544</span>
                    <span class="md-headline">Teachers</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card class="dashboard-card bg-opacity">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-3">912</span>
                    <span class="md-headline">Students</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card class="dashboard-card bg-opacity">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-3">45</span>
                    <span class="md-headline Al-Jazeera-Regular">الدورات</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div class="md-whiteframe-1dp dashboard-chart bg-opacity"></div>
</div>
