<div>
    <div class="login-form-main-div">
        <form class="">
            <div class="form-group">
                <input required ng-model="password" type="password" class="form-control input-lg" placeholder="Type Password">
            </div>
            <div class="">
                <button ng-disabled="!password" ng-click="doDelete(password)" type="button" class="btn btn-lg btn-danger btn-block no-outline">
                    Confirm Delete
                </button>
            </div>
        </form>
    </div>


</div>
