<div class="col-md-8 col-md-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
    <div class="login-form-main-div">
        <form name="loginForm" ng-submit="doLogin(user)" class="">
            <div>
                <p><strong class="no-text-shadow color-pc">Login with</strong></p>
            </div>
            <div class="">
                <button ng-click="socialLogin('facebook')" type="button" class="btn btn-primary btn-block no-outline">
                    Facebook
                </button>
                <br/>
                <button ng-click="socialLogin('google')" type="button" class="btn btn-danger btn-block no-outline">
                    Google+
                </button>
            </div>
            <br/>
            <p>
                <small class="no-text-shadow color-pc">We will never post without your permission</small>
            </p>
            <hr class="margin-none">
            <p class="color-pc no-text-shadow">or</p>
            <div>
                <p><strong class="no-text-shadow color-pc">Login with your account</strong></p>
            </div>
            <div class="form-group">
                <input name="email" ng-model="user.email" required type="text" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
                <input name="password" ng-model="user.password" required type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
            </div>
        </form>
        <br/>

        <p>
            <small>
                <a href="#" class="link-color float-left no-text-shadow">Forgot Password?</a>
                <a ng-click="signInDialog('templates/register.html')"
                   class="link-color float-right cursor-pointer no-text-shadow">Create now account</a>
            </small>
        </p>
        <br/>

        <p>
            <small class="color-pc no-text-shadow">
                <span class="">By logging in, you agree our </span>
                <a class="link-color" href="#">Terms of Service</a>
                <span>and</span>
                <a class="link-color" href="#">Privacy Policy</a>
            </small>
        </p>
    </div>
</div>
