<!--{{selectedCourse | json}}-->

<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
    <md-tab label="حول مسار">
        <md-content class="md-padding">
            <h1 class="md-display-2 text-right">Tab One</h1>
            <p class="md-subhead text-right">Title {{ selectedCourse.title }} </p>
            <p class="md-subhead text-right">Category {{ selectedCourse.category }} </p>
            <p class="md-subhead text-right">Year Of Study {{ $root.yearOfStudy[selectedCourse.yearOfStudy]}} </p>
            <p class="md-subhead text-right">Students {{ selectedCourse.students.length }} </p>
            <p class="md-subhead text-right">Lessons {{ selectedCourse.lessons.length }} </p>
            <p class="md-caption text-right">
                <b class="md-subhead">Description</b>
            <p>{{ selectedCourse.description }}</p> </p>
        </md-content>
    </md-tab>
    <md-tab label="الدروس">
        <md-content class="md-padding tab-md-content">
            {{selectedLesson | json}}
            <md-list>
                <md-list-item ng-click="goToLessonDetail($index)"
                              class="md-3-line md-long-text"
                              ng-repeat="lesson in selectedCourse.lessons track by $index">
                    <!--<img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}"/>-->
                    <div class="md-list-item-text">
                        <h3>{{lesson.title}}</h3>
                        <p>{{lesson.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-tab>
    <md-tab label="قوات الدفاع الشعبي">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
        </md-content>
    </md-tab>
    <md-tab label="وثائق">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
        </md-content>
    </md-tab>
    <md-tab label="فيديوهات">
        <md-content class="md-padding tab-md-content">
            <div layout="row" layout-align="center start" layout-wrap>
                <div class="md-whiteframe-1dp" layout-padding layout-margin>
                    {{selectedVideoPath}}
                    <iframe width="750" height="450" ng-src="{{selectedVideoPath}}" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="md-whiteframe-1dp" layout-margin>
                    <md-list>
                        <md-list-item ng-click="watchVideo($index)"
                                      ng-repeat="video in selectedLesson.videos track by $index"
                                      class="md-3-line video-list">
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{video.title}}</h3>
                                <p class="Al-Jazeera-Regular">{{video.description}}</p>
                            </div>
                            <img ng-src="{{video.thumbnails.default.url}}"/>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>


<md-button ng-show="selectedTabIndex == 4" ng-click="toggleSidenav('upload-video-sidenav')"
           class="md-fab md-fab-top-left md-icon-button md-primary">
    <md-tooltip md-direction="bottom">Upload Video</md-tooltip>
    <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
</md-button>

<md-button ng-show="selectedTabIndex == 1" ng-click="toggleSidenav('create-lesson-sidenav')"
           class="md-fab md-fab-top-left md-icon-button md-primary">
    <md-tooltip md-direction="bottom">Create Lesson</md-tooltip>
    <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
</md-button>



