<div class="col-md-8 col-md-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
    <div class="login-form-main-div">
        <form ng-submit="doRegister(user)" class="">
            <div>
                <p><strong class="no-text-shadow color-pc">Sign in with</strong></p>
            </div>
            <div class="">
                <button ng-click="socialLogin('facebook')" type="button" class="btn btn-primary btn-block no-outline">Facebook</button>
                <br/>
                <button ng-click="socialLogin('google')" type="button" class="btn btn-danger btn-block no-outline">Google+</button>
            </div>
            <hr class="margin-none">
            <p class="color-pc no-text-shadow">or</p>

            <div>
                <p><strong class="no-text-shadow color-pc">Sign in with your account</strong></p>
            </div>


            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <input required ng-model="user.firstName" type="text" class="form-control input-lg"
                               placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <input required ng-model="user.lastName" type="text" class="form-control input-lg"
                               placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-init="user.yearOfStudy = 'YOS'">
                        <select required ng-model="user.yearOfStudy" class="selectpicker y-o-s-d-btn form-control input-lg">
                            <option value="YOS" selected disabled>Year of Study</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input required ng-model="user.email" type="email" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
                <input required ng-model="user.password" type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
                <input required ng-model="user.confirmPassword" type="password" class="form-control input-lg"
                       placeholder="Retype Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
            </div>
        </form>

        <br/>

        <p>
            <small class="color-pc no-text-shadow">
                <span class="">By logging in, you agree our </span>
                <a class="link-color" href="#">Terms of Service</a>
                <span>and</span>
                <a class="link-color" href="#">Privacy Policy</a>
            </small>
        </p>
    </div>


</div>
