<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#email_page" data-toggle="tab" aria-expanded="true">Email</a></li>
        <li class=""><a href="#account_page" data-toggle="tab" aria-expanded="false">Account</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="email_page">
            <form class="form-horizontal">
                <div class="container">
                    <fieldset class="col-md-12">
                        <legend class="text-right padding-8">General</legend>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                           id="enableEmail" checked>
                                    <label class="onoffswitch-label" for="enableEmail"></label>
                                </div>
                            </div>
                            <label for="enableEmail" class="col-lg-2 control-label">Enable Email</label>
                        </div>
                        <br/>
                    </fieldset>
                </div>
                <div class="container">
                    <fieldset class="col-md-12">
                        <legend class="text-right padding-8">Notification</legend>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="mastery"
                                           checked>
                                    <label class="onoffswitch-label" for="mastery"></label>
                                </div>
                            </div>
                            <label for="mastery" class="col-lg-2 control-label">Mastery task notification</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="mastery"
                                           checked>
                                    <label class="onoffswitch-label" for="mastery"></label>
                                </div>
                            </div>
                            <label for="mastery" class="col-lg-2 control-label">Mastery task notification</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="mastery"
                                           checked>
                                    <label class="onoffswitch-label" for="mastery"></label>
                                </div>
                            </div>
                            <label for="mastery" class="col-lg-2 control-label">Mastery task notification</label>
                        </div>
                        <br/>
                    </fieldset>
                </div>
                <hr/>

            </form>
        </div>
        <div class="tab-pane fade in" id="account_page">
            <form class="form-horizontal">
                <div class="container">
                    <fieldset class="col-md-12">
                        <legend class="text-right padding-8">Basics</legend>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="currentUser.firstName" id="firstName" name="firstName" type="text"
                                       class="form-control" placeholder="First Name">
                            </div>
                            <label for="firstName" class="col-lg-2 control-label">First Name</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="currentUser.lastName" id="lastName" name="lastName" type="text"
                                       class="form-control" placeholder="Last Name">
                            </div>
                            <label for="lastName" class="col-lg-2 control-label">Last Name</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="currentUser.email" id="email" name="email" type="text"
                                       class="form-control" placeholder="Email">
                            </div>
                            <label for="email" class="col-lg-2 control-label">Email</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="radio-inline color-pc">
                                    <input value="0" ng-model="currentUser.gender" type="radio" name="gender">Boy
                                </label>
                                <label class="radio-inline color-pc">
                                    <input value="1" ng-model="currentUser.gender" type="radio" name="gender">Girl
                                </label>
                            </div>
                            <label class="col-lg-2 control-label">Gender</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="currentUser.birthDate" is-open="openCalendar"
                                       ng-click="openCalendar = true"
                                       id="birthDate" uib-datepicker-popup="dd-MMMM-yyyy" class="form-control"
                                       placeholder="Birth Date">
                            </div>
                            <label for="birthDate" class="col-lg-2 control-label">Birth Date</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6" ng-init="currentUser.yearOfStudy = currentUser.yearOfStudy || 'YOS'">
                                <select required ng-model="currentUser.yearOfStudy"
                                        class="selectpicker y-o-s-d-btn form-control">
                                    <option value="YOS" selected disabled> Year of Study</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <label for="birthDate" class="col-lg-2 control-label">Year of Study</label>
                        </div>
                        <br/>
                        <br/>
                        <button ng-click="updateProfile(currentUser)" type="button" class="btn btn-primary">Save
                            Changes
                        </button>
                    </fieldset>
                </div>
                <hr/>
                <div class="container">
                    <fieldset class="col-md-12" ng-if="currentUser.password">
                        <legend class="text-right padding-8">Password</legend>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="changePasswordData.currentPassword" id="currentPassword"
                                       type="password" class="form-control"
                                       placeholder="Current Password">
                            </div>
                            <label for="currentPassword" class="col-lg-2 control-label">Current Password</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="changePasswordData.password" id="newPassword" type="password"
                                       class="form-control" placeholder="New Password">
                            </div>
                            <label for="newPassword" class="col-lg-2 control-label">New Password</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input id="reenterPassword" type="password" class="form-control"
                                       ng-model="changePasswordData.confirmPassword"
                                       placeholder="Re-enter Password">
                            </div>
                            <label for="reenterPassword" class="col-lg-2 control-label">Re-enter Password</label>
                        </div>
                        <br/>
                        <br/>
                        <button ng-click="changePassword(changePasswordData,currentUser._id)" type="button"
                                class="btn btn-primary">Changes Password
                        </button>
                    </fieldset>
                    <fieldset class="col-md-12" ng-if="!currentUser.password">
                        <legend class="text-right padding-8">Password</legend>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input ng-model="changePasswordData.password" id="newPassword" type="password"
                                       class="form-control" placeholder="New Password">
                            </div>
                            <label for="newPassword" class="col-lg-2 control-label">New Password</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <input id="reenterPassword" type="password" class="form-control"
                                       ng-model="changePasswordData.confirmPassword"
                                       placeholder="Re-enter Password">
                            </div>
                            <label for="reenterPassword" class="col-lg-2 control-label">Re-enter Password</label>
                        </div>
                        <br/>
                        <br/>
                        <button ng-click="setPassword(changePasswordData,currentUser._id)" type="button"
                                class="btn btn-primary">Save Password
                        </button>
                    </fieldset>
                </div>
                <hr/>
                <div class="container">
                    <fieldset class="col-md-12">
                        <legend class="text-right padding-8">Linked Account</legend>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="">
                                    <button ng-if="!currentUser.facebookID"
                                            ng-click="linkedAccount('facebook',currentUser._id)"
                                            type="button" class="btn btn-primary btn-block no-outline">
                                        Connect Facebook
                                    </button>
                                    <button ng-if="currentUser.facebookID" disabled type="button"
                                            class="btn btn-primary btn-block no-outline">
                                        Connected to Facebook
                                    </button>
                                </div>
                            </div>
                            <label for="currentPassword" class="col-lg-2 control-label">Facebook</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="">
                                    <button ng-if="!currentUser.googleID"
                                            ng-click="linkedAccount('google',currentUser._id)"
                                            type="button" class="btn btn-danger btn-block no-outline">
                                        Connect Google+
                                    </button>
                                    <button ng-if="currentUser.googleID" disabled type="button"
                                            class="btn btn-danger btn-block no-outline">Connected to Google+
                                    </button>
                                </div>
                            </div>
                            <label for="currentPassword" class="col-lg-2 control-label">Google+</label>
                        </div>
                        <div class="form-group" ng-if="currentUser.email">
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">{{currentUser.email}}</li>
                                </ul>
                            </div>
                            <label for="currentPassword" class="col-lg-2 control-label">Email</label>
                        </div>
                    </fieldset>
                </div>
                <hr/>
                <div class="container">
                    <fieldset class="col-md-12">
                        <legend class="text-right padding-8">Public Profile Information</legend>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <select required ng-model="currentUser.yearOfStudy" id="yearOfStudy"
                                        class="selectpicker y-o-s-d-btn form-control">
                                    <option value="YOS" selected disabled>Year of study</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <label for="yearOfStudy" class="col-lg-2 control-label">Year of Study</label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <textarea maxlength="160" id="bio" type="text" class="form-control"
                                          placeholder="Bio"></textarea>
                            </div>
                            <label for="bio" class="col-lg-2 control-label">Bio</label>
                        </div>
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary">Save</button>
                    </fieldset>
                </div>
                <hr/>
                <div class="container">
                    <fieldset class="col-md-12">
                        <legend class="text-right padding-8">Delete Account</legend>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="">
                                    <button type="button" class="btn btn-danger btn-block no-outline">Delete Account
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>