<div class="dashboard-main-div" ng-style="{'background-image':'url('+$root.myTheme+')'}">
    <md-toolbar class="custom-toolbar">
        <div class="md-toolbar-tools">
            <md-menu flex>
                <md-list-item>
                    <img ng-src="{{$root.profileImg || currentUser.profileImg || defaultProfileImg}}"
                         class="md-avatar no-outline"
                         ng-click="$mdOpenMenu($event)">
                </md-list-item>
                <!--<md-menu-content class="" width="4">
                    <md-list layout-margin class="bg-opacity">
                        <md-divider></md-divider>
                        <md-list-item ui-sref="admin.update_info"><p>تحديث المعلومات الشخصية</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>خروج</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>الدورات</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ui-sref-active="menu-active-item" ui-sref="admin.add_teacher"><p>إضافة معلم</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>مستخدم</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>مستخدم</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>ضبط</p></md-list-item>
                        <md-divider></md-divider>
                    </md-list>


                </md-menu-content>-->
            </md-menu>
            <span flex></span>
            <h1 class="Al-Jazeera-Bold">نظام إدارة التعلم</h1>
        </div>
    </md-toolbar>
    <md-content class="main-md-content">
        <div layout="row">
            <section flex="85" class="content-column" layout-padding>
                <div ui-view name="StudentContent" class="md-whiteframe-6dp content-column-box" layout-margin></div>
            </section>
            <section flex="15" class="menu-column">
                <div layout-padding>
                    <md-list layout-margin class="bg-opacity">
                        <md-divider></md-divider>
                        <md-list-item ui-sref-active="menu-active-item" ui-sref="student.dashboard"><p>لوحة القيادة</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>معلمون</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>الطلاب</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>الدورات</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="changeTheme()"><p>موضوع</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="newUser = currentUser;" ui-sref-active="menu-active-item" ui-sref="student.update_info"><p>تحديث الملف</p></md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-click="a()"><p>ضبط</p></md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </div>
            </section>
        </div>
    </md-content>
</div>