<div class="col-sm-10 col-lg-10 col-md-10 right-col text-right">
    <ul class="list-group class-course-list">
        <li class="list-group-item row">
            <h4>Subtopic Name</h4>
        </li>
        <li class="list-group-item row" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
            <div>
                <h3>Title {{item}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid cum, dolorem
                    doloremque eius eligendi incidunt ipsa maxime nisi perferendis perspiciatis
                    possimus quam quas repellat reprehenderit sapiente sunt, ut voluptatibus? Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Ad consequatur eaque et explicabo fuga ipsum magni obcaecati
                    perspiciatis, quae quidem, sunt, tempora veniam voluptate? Commodi deserunt doloremque obcaecati
                    quas velit?
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="col-sm-2 col-lg-2 col-md-2 margin-navbar subtopic-left-col left-col no-padding">
    <!--<h5>Subject Name</h5>-->
    <!--<h4>Course Name</h4>-->
    <div class="text-right" style="border-bottom: 1px solid #ddd">
        <h4>
            <span style="margin-right: 15px">Prev Section</span>
            <i class="fa-lg icon-caret-right" style="position: absolute;right: 12px;margin-top: 11px;"></i>
            <br/>
            <b style="margin-right: 15px;margin-top: 10px;display: inline-block;">Topic Name</b>
        </h4>
    </div>
    <!--<div class="col-md-6 col-lg-6 col-sm-6">-->
    <ul class="list-group padding-left-right">
        <li class="list-group-item left-right-border-none" ng-repeat="a in [1,2,3,4,5]"
            ng-style="$first?{'border-top':'none'}:$last?{'border-bottom':'none'}:null">
            <h5 style="margin-right: 10px;display: inline">Subtopic {{a}}</h5>
            <!--<span class="icon-round-border">-->
            <i ng-if="$index%3==1" style="padding-left: 10px" class="fa color-icon fa-2x icon-round-border fa-play"></i>
            <i ng-if="$index%3==2" class="fa color-icon fa-2x icon-round-border fa-star"></i>
            <i ng-if="$index%3==0" class="fa color-icon fa-2x icon-round-border fa-file-pdf-o "></i>
            <!--</span>-->
        </li>
    </ul>

    <div class="text-left" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-left: 15px">

        <h4>
            <span style="margin-left: 15px">Next Section</span>
            <i class="fa-lg icon-caret-left" style="position: absolute;left: 12px;margin-top: 11px;"></i>
            <br/>
            <b style="margin-left: 15px;margin-top: 10px;display: inline-block;">Topic Name</b>
        </h4>
    </div>
    <!--</div>-->

</div>