<div class="col-sm-10 col-lg-10 col-md-10 right-col text-right">
    <div>
        <ul class="list-group class-course-list">

            <li class="list-group-item row">
                <h4>Subtopic Name</h4>
            </li>

            <li class="list-group-item row">
                <!-- <div class="col-md-6 col-lg-6 col-sm-6">
                     <ul class="list-group">
                         <li class="list-group-item left-right-border-none" ng-repeat="a in [1,2,3,4,5]"
                             ng-style="$first?{'border-top':'none'}:$last?{'border-bottom':'none'}:null">
                             <h4 style="margin-right: 10px;display: inline">Subtopic {{a}}</h4>
                             &lt;!&ndash;<span class="icon-round-border">&ndash;&gt;
                             <i ng-if="$index%3==1" style="padding-left: 10px"
                                class="fa fa-2x icon-round-border fa-play"></i>
                             <i ng-if="$index%3==2" class="fa fa-2x icon-round-border fa-star" aria-hidden="true"></i>
                             <i ng-if="$index%3==0" class="fa fa-2x icon-round-border fa-file-pdf-o "></i>
                             &lt;!&ndash;</span>&ndash;&gt;
                         </li>
                     </ul>


                 </div>-->
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZYxhbl4cc5Y"></iframe>
                    </div>
                </div>
                <p class="padding-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quisquam sequi
                    unde! Aut
                    consequatur, dolorum earum esse expedita illum ipsam iste, molestiae optio placeat possimus quam
                    recusandae rerum tempora veniam.</p>
                <i class="icon-gear"></i>
                <select class="no-border">
                    <option>Options</option>
                </select>
                <i class="icon-share-sign"></i>
                <select class="no-border">
                    <option>Share</option>
                </select>
                <i class="margin-right-8 icon-info-sign"></i>Info
            </li>
            <li class="list-group-item row">
                <div class="input-group">
                    <!--<input type="text" class="form-control input-lg" placeholder="Search for...">-->
                    <textarea style="height: 46px;resize: none;" maxlength="200" id="bio" type="text"
                              class="form-control" placeholder="Ask a Question"></textarea>
                    <span class="input-group-btn">
                       <button class="btn btn-primary btn-lg" type="button">Submit</button>
                    </span>
                </div>
            </li>
        </ul>
        <h4>Questions</h4>
        <br/>

        <div class="ques-sec" ng-repeat="a in [1,2,3]">
            <h5>Lorem ipsum dolor sit amet,itate deleniti excepturi mollitia placeat voluptates</h5>
            <sub class="posted-time">25 mint ago by Muhammad Mavia</sub>
            <span class="margin-right-25">Flag</span>
            <span class="margin-right-25">1 comment</span>
        <span>
                    <i class="fa fa-2x fa-sort-desc margin-right-25" aria-hidden="true"></i>
                    <i class="fa fa-2x fa-sort-asc up-sort" aria-hidden="true"></i>62 votes
                </span>

            <div class="res-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa dolores doloribus esse
                    eum explicabo illum inventore iste necessitatibus nesciunt. Cupiditate distinctio exercitationem
                    maiores mollitia quisquam ratione sequi velit, voluptas. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Ad debitis, incidunt quaerat quasi reprehenderit voluptas voluptatibus. A
                    aliquam animi blanditiis corporis, ducimus iure nulla reprehenderit sapiente ullam ut vero
                    voluptates.
                </p>
                <sub class="posted-time">25 mint ago by Muhammad Mavia</sub>
                <span class="margin-right-25">Flag</span>
                <span class="margin-right-25">1 comment</span>
                <span style="position: relative">
                    <i class="fa fa-2x fa-sort-desc margin-right-25" aria-hidden="true"></i>
                    <i class="fa fa-2x fa-sort-asc up-sort" aria-hidden="true"></i>62 votes
                </span>
                <br/>
                <br/>
                <a class="margin-right-25" href="">Show All 5 Answer</a>
                <a href="">Answer this Question</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 col-lg-2 col-md-2 video-left-col left-col no-padding">
    <div class="text-right" style="border-bottom: 1px solid #ddd">
        <h4>
            <span style="margin-right: 15px">Prev Section</span>
            <i class="fa-lg icon-caret-right" style="position: absolute;right: 12px;margin-top: 11px;"></i>
            <br/>
            <b style="margin-right: 15px;margin-top: 10px;display: inline-block;">Topic Name</b>
        </h4>
    </div>
    <ul class="list-group padding-left-right">
        <li class="list-group-item left-right-border-none" ng-repeat="a in [1,2,3,4,5]"
            ng-style="$first?{'border-top':'none'}:$last?{'border-bottom':'none'}:null">
            <h5 style="margin-right: 10px;display: inline">Subtopic {{a}}</h5>
            <i ng-if="$index%3==1" style="padding-left: 10px" class="fa color-icon fa-2x icon-round-border fa-play"></i>
            <i ng-if="$index%3==2" class="fa color-icon fa-2x icon-round-border fa-star"></i>
            <i ng-if="$index%3==0" class="fa color-icon fa-2x icon-round-border fa-file-pdf-o "></i>
        </li>
    </ul>

    <div class="text-left" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-left: 15px">

        <h4>
            <span style="margin-left: 15px">Next Section</span>
            <i class="fa-lg icon-caret-left" style="position: absolute;left: 12px;margin-top: 11px;"></i>
            <br/>
            <b style="margin-left: 15px;margin-top: 10px;display: inline-block;">Topic Name</b>
        </h4>
    </div>
    <!--</div>-->

</div>
<style>

</style>