<div class="account-bg">
    <md-toolbar class="custom-toolbar">
        <div class="md-toolbar-tools">
            <md-button class="md-primary Al-Jazeera-Bold" ui-sref-active="md-raised" ui-sref="account.login" aria-label="Login">تسجيل الدخول</md-button>
            <md-button class="md-primary Al-Jazeera-Bold" ui-sref-active="md-raised" ui-sref="account.register" aria-label="Register">إصنع حساب</md-button>
            <span flex></span>
            <h1>نظام إدارة التعلم</h1>
        </div>
    </md-toolbar>
    <ui-view name="AccountContent"></ui-view>
</div>