<div layout="row" class="main-md-content">
    <md-sidenav class="md-sidenav-left"
                md-component-id="right"
                md-is-locked-open="true"
                md-disable-backdrop
                md-whiteframe="4">
        <md-toolbar class="">
            <div class="md-toolbar-tools">
                <span flex></span>
                <h1 class="Al-Jazeera-Bold">الدروس</h1>
            </div>
        </md-toolbar>


        <md-content layout-padding class="vh-85">
            <md-list>
                <md-divider></md-divider>
                <md-list-item ng-click="goToLessonDetail($index)"
                              class="md-3-line lessons-card"
                              ng-repeat="lesson in selectedCourse.lessons track by $index">
                    <div class="md-list-item-text">
                        <h3>{{lesson.title}}</h3>
                        <p>{{lesson.description |  limitTo: 80}}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>


            <md-button ng-click="toggleSidenav('create-lesson-sidenav')"
                       class="md-fab md-fab-bottom-right md-icon-button md-primary">
                <md-tooltip md-direction="bottom" class="Al-Jazeera-Bold">إنشاء الدرس</md-tooltip>
                <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
            </md-button>

        </md-content>
    </md-sidenav>
    <md-tabs flex md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
        <md-tab ng-disabled="!selectedLesson" label="قوات الدفاع الشعبي">
            <md-content class="md-padding">
            </md-content>
        </md-tab>
        <md-tab ng-disabled="!selectedLesson" label="وثائق">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
            </md-content>
        </md-tab>
        <md-tab ng-disabled="!selectedLesson" label="فيديوهات">
            <div ng-if="!selectedLesson.videos.length" layout="row" layout-align="center center">
                <div class="md-display-4 gray-color vh-center">أشرطة الفيديو الفارغة</div>
            </div>
            <md-content ng-if="selectedLesson.videos.length" class="md-padding tab-md-content">
                <div layout="row" layout-align="center start" layout-wrap>
                    <div class="md-whiteframe-1dp" layout-padding layout-margin ng-if="selectedVideo.videoID">
                        <youtube-video video-id="selectedVideo.videoID"></youtube-video>
                    </div>
                    <div class="md-whiteframe-1dp" layout-margin>
                        <md-list>
                            <md-list-item ng-click="watchVideo(video)"
                                          ng-repeat="video in selectedLesson.videos track by $index"
                                          class="md-3-line video-list">
                                <md-divider></md-divider>
                                <md-divider></md-divider>
                                <div class="md-list-item-text" layout="column">
                                    <h3> {{video.title}}</h3>
                                    <p class="Al-Jazeera-Regular">{{video.description | limitTo: 180}}</p>
                                </div>
                                <img ng-src="{{video.thumbnails.default.url}}"/>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <!--<md-tab label="الدروس">
            <div ng-if="!selectedCourse.lessons.length" layout="row" layout-align="center center">
                <div class="md-display-4 gray-color vh-center">الدروس فارغة</div>
            </div>
            <md-content ng-if="selectedCourse.lessons.length" class="md-padding tab-md-content">
                <md-list>
                    <md-list-item ng-click="goToLessonDetail($index)"
                                  class="md-3-line md-long-text"
                                  ng-repeat="lesson in selectedCourse.lessons track by $index">
                        &lt;!&ndash;<img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}"/>&ndash;&gt;
                        <div class="md-list-item-text">
                            <h3>{{lesson.title}}</h3>
                            <p>{{lesson.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>-->
        <md-tab label="التحاق الطلاب">
            <md-content class="md-padding">
                <md-list>
                    <md-list-item>
                        <div class="md-avatar"></div>
                        <p>Name</p>
                        <p>Phone</p>
                        <p>Email</p>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item ng-repeat="students in selectedCourse.students">
                        <img ng-src="{{ students.profileImg || defaultProfileImg}}" class="md-avatar"/>
                        <p>{{ students.firstName }} {{ students.lastName }}</p>
                        <p>{{students.tel}}</p>
                        <p>{{students.email}}</p>

                        <md-menu>
                            <md-button aria-label="Open demo menu" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <ng-md-icon style="fill: #000" md-menu-origin icon="keyboard_arrow_down"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button><span md-menu-align-target>Block</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button><span md-menu-align-target>Delete</span></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>

            </md-content>
        </md-tab>
        <md-tab label="حول مسار">
            <md-content class="md-padding" layout-padding layout-margin>
                <p class="md-headline text-right Al-Jazeera-Regular"> {{ selectedCourse.title }} : عنوان</p>
                <p class="md-headline text-right Al-Jazeera-Regular"> {{ selectedCourse.category }} : فئة</p>
                <p class="md-headline text-right Al-Jazeera-Regular"> {{ $root.yearOfStudy[selectedCourse.yearOfStudy]}}
                    :
                    سنة من الدراسة </p>
                <p class="md-headline text-right Al-Jazeera-Regular"> {{ selectedCourse.students.length }} : الطلاب </p>
                <p class="md-headline text-right Al-Jazeera-Regular"> {{ selectedCourse.lessons.length }} الدروس</p>
                <p class="md-headline text-right">
                <p class="text-right Al-Jazeera-Regular"><b class="md-title text-right">وصف</b> : {{
                    selectedCourse.description }}</p>
            </md-content>
        </md-tab>
    </md-tabs>
    <md-button ng-show="selectedTabIndex == 2" ng-click="toggleSidenav('upload-video-sidenav')"
               class="md-fab md-fab-bottom-right md-icon-button md-primary">
        <md-tooltip md-direction="bottom" class="Al-Jazeera-Bold">رفع فيديو</md-tooltip>
        <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
    </md-button>
</div>

<md-sidenav class="md-sidenav-left" md-component-id="create-lesson-sidenav">
    <md-toolbar class=""></md-toolbar>
    <md-content>
        <form name="addLessonForm" ng-submit="createLesson(lesson,selectedCourse._id)">
            <md-list>
                <md-list-item>
                    <md-input-container class="md-block full-width-input">
                        <label class="right-label">عنوان</label>
                        <input name="title" type="text" required md-no-asterisk ng-model="lesson.title">
                        <div ng-messages="addLessonForm.title.$error">
                            <div ng-message="required">عنوان المطلوبة</div>
                        </div>
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container class="md-block full-width-input">
                        <label class="right-label">وصف قصير</label>
                        <textarea name="description" type="text" required md-no-asterisk
                                  ng-model="lesson.description"></textarea>
                        <div ng-messages="addLessonForm.description.$error">
                            <div ng-message="required">مطلوب وصف قصير</div>
                        </div>
                    </md-input-container>
                </md-list-item>
                <button ng-disabled="!lesson.title || !lesson.description" class="md-button md-raised submit-btn md-primary" value="submit">خلق</button>
            </md-list>
        </form>
    </md-content>
</md-sidenav>




