<div>
    <md-list>
        <md-list-item>
            <div class="md-avatar"></div>
            <p>Name</p>
            <p>Email</p>
            <p>Phone</p>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-repeat="teacher in teachers">
            <img ng-src="{{ teacher.profileImg || defaultProfileImg}}"
                 class="md-avatar"/>
            <p>{{ teacher.firstName }} {{ teacher.lastName }}</p>
            <p>{{teacher.email}}</p>
            <p>{{teacher.tel}}</p>

            <md-menu>
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <ng-md-icon style="fill: #000" md-menu-origin icon="keyboard_arrow_down"></ng-md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button><span md-menu-align-target>Block</span></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button><span md-menu-align-target>Delete</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>

</div>