<script src="angular.min.js"></script>
<script src="app.js"></script>
<div ng-app="Youtube" ng-controller="AppCtrl">
    <button class="g-signin"
            data-callback="signinCallback"
            data-clientid="970630033444-a3n9pkmgmpj7g09no4ggkbvrk0npbapv.apps.googleusercontent.com"
            data-cookiepolicy="single_host_origin"
            data-scope="https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube">
    </button>
    <img ng-src="{{channel.thumbnails.default.url}}">
    <span>{{channel.title}}</span>
    <input ng-model="video.title" id="title" type="text" value="Default Title">
    <textarea ng-model="video.description">Default description</textarea>

    <input input type="file" id="file" class="button" accept="video/*">
    <button id="video-uploader-button">Upload Video</button>
    {{(onProgressData.loaded * 100) / onProgressData.total}}% done
    ({{onProgressData.total}}/{{onProgressData.total}}bytes)

    <progress id="upload-progress" max="100"
              value="{{(onProgressData.loaded * 100) / onProgressData.total}}"></progress>
    <script src="//apis.google.com/js/client:plusone.js"></script>
    <script src="cors_upload.js"></script>
</div>

